body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3%;
}
div {
    border: 1px solid black;
}

input {
    width: 90%;
    resize: none;
    font-size: medium;
}

#list-footer {
    text-align: left;
    padding: 10px;
}

button {
    font-size: large;
}

h1 {
    text-align: center;
}