body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3%;
    background-color: dodgerblue;
}
div {
    border: 1px solid black;
    background-color: white;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  .left, .right {
    width: 15%;
  }
  
  .middle {
    width: 60%;
  }
  
  /* Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */

input {
    width: 90%;
    resize: none;
    font-size: medium;
}

#list-footer {
    text-align: left;
    padding: 10px;
}

button {
    font-size: large;
}

h1 {
    text-align: center;
    color: white;
}